.container {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 3em;
  font-size: 2.86em;
  color: var(--greyLight);
  background: var(--greyLight);
  border-radius: 50%;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10.5em;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: var(--white);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.arrow {
  width: 1.18em;
}
.adult {
  background: var(--gradient);
}
.adultText {
  color: var(--grey);
}
.check {
  font-size: 1.7em;
  color: var(--grey2);
  transition: all 0.3s ease-in-out;
}
.checkText {
  color: var(--violet);
}
@media (orientation: landscape) {
  .container {
    margin-top: -4.5em;
    left: 10.9em;
    transform: translate(0);
  }
}
