.container {
  position: relative;
  width: 29.3em;
  margin: 0 auto;
  padding-top: 39em;
}
.image {
  width: 100%;
}
.text {
  position: absolute;
  bottom: 2.2em;
  margin-left: 1.5em;
  font-size: 1.63em;
  font-weight: 500;
}
@media (orientation: landscape) {
  .container {
    width: 22em;
    margin-left: 6.1em;
    padding-top: 39em;
    top: -29em;
  }
  .text {
    font-size: 1.2em;
  }
}
