.main {
  position: relative;
  height: 100%;
  margin: 0 1em;
  background: url("../../images/cardBg.png");
  background-repeat: no-repeat;
  background-size: 43.5em 71em;
  background-position: 0 23em;
}
.cardBg {
  width: 43.5em;
  margin-top: 23em;
  z-index: -1;
}

@media (orientation: landscape) {
  .main {
    position: relative;
    width: 48.067em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../../images/cardBgDesctop.png");
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
