:root {
  --bg: rgba(0, 0, 0, 0.6);
  --white: #ffffff;
  --violet: #9665eb;
  --violetSoft: #c0b6ff;
  --violetSecond: #b6acf6;
  --violetGrey: #5b576f;
  --grey: #646464;
  --grey2: #9691a8;
  --greyLight: #d6d6d6;
  --gradient: linear-gradient(#9a35ff, #6ba8f1);
  --gradient2: linear-gradient(#f1f2f2, #8a62d2);
}
